main {
    margin: 50px 0px;
}
.og-logo {
    margin: 0 auto;
    text-align: center;
}

#og-logo {
    width: 250px;
    height: 250px;
}

.contact-card {
    width: 50%;
    margin: 20px auto;
    border-width: 5px;
    border-radius: 10px;
    border-color: #27364d;
}

.contact-card-content {
    margin: 10px 10px;
}

.contact-card-content a{
    color: black;
}

.contact-card-content a:hover,
.contact-card-content a:active {
    color:lightblue;
}

@media (max-width: 844px) {

    .contact-card-content p {
        font-size: 14px;
    }
}

@media (max-width: 746px) {
    .contact-card-content h2 {
        font-size: 22px;
    }

    .contact-card-content p {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .contact-card {
        width: 60%;
    }
}

/* complete media queries (h2 and p tags) */
